* {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  color: #C1BFE2;
  scroll-behavior: smooth;
}

body {
  background: #C1BFE2;
  background-size: 100%;
  background-repeat: no-repeat;
}