.reception {
    min-height: 101vh;
    width: 100%;
    color: #23292E;
    background-color: #d5dbe3;
    margin-top: -2px;
}

.image-wrapper-reception {
    display: block;
    background-image: url('../res/test_photo_3.jpg');
}
.image-wrapper{
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 600px;
    width: 600px;
    border-radius: 50%;
    margin: auto;
}
.padding {
    padding-top: 100px;
    background-color: #fff;
}

#reception-padding {
    background-color: #d5dbe3;
}

.info-wrapper {
    margin-top: 50px;
}

#bold {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

#button {
    color: #607267;
    width: 10%;
    font-size:16px;
    border: none;
    background-color: transparent;
}

#button:hover {
    background-color: transparent;
}
@media (max-width: 767px){
    .image-wrapper{

        height: 400px;
        width: 400px;

    }
}
@media (max-width: 400px){
    .image-wrapper{

        height: 300px;
        width: 300px;

    }
}