.reception {
    height: 900px;
    width: 100%;
    color: #23292E;
    background-color: #fff;
    margin-top: -2px;
}

.image-wrapper-reception {
    display: block;
    background-image: url('../res/test_photo_3.jpg');
    background-size: cover;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    margin: auto;
}

.padding {
    padding-top: 100px;
    background-color: #fff;
}

.info-wrapper {
    margin-top: 50px;
}

#bold {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

#button {
    color: #E4BC62;
    width: 10%;
    margin-right: 45%;
    margin-left: 45%;
    border: none;
    background-color: transparent;
}

#button:hover {
    background-color: transparent;
}